[package]
name = "zvariant"
version = "4.0.0"
authors = ["Zeeshan Ali Khan <zeeshanak@gnome.org>"]
edition = "2021"
rust-version = "1.64"

description = "D-Bus & GVariant encoding & decoding"
repository = "https://github.com/dbus2/zbus/"
keywords = ["D-Bus", "DBus", "IPC", "GVariant"]
license = "MIT"
categories = ["data-structures", "encoding", "parsing"]
readme = "README.md"

[features]
default = []
# Also allow disabling D-Bus support
gvariant = []
ostree-tests = ["gvariant"]

[dependencies]
byteorder = "1.4.3"
serde = { version = "1.0", features = ["derive"] }
arrayvec = { version = "0.7.2", features = ["serde"], optional = true }
enumflags2 = { version = "0.7.7", features = ["serde"], optional = true }
zvariant_derive = { version = "=4.0.0", path = "../zvariant_derive" }
serde_bytes = { version = "0.11", optional = true }
static_assertions = "1.1.0"
libc = "0.2.137"
uuid = { version = "1.2.1", features = ["serde"], optional = true }
url = { version = "2.3.1", features = ["serde"], optional = true }
time = { version = "0.3.16", features = ["serde"], optional = true }
chrono = { version = "0.4.23", features = [
    "serde",
], default-features = false, optional = true }

[dev-dependencies]
serde_json = "1.0"
serde_repr = "0.1.9"
# If you want to avoid compiling glib even when compiling tests or examples, comment out the glib
# dev-dependency. Dev-dependencies can't be made optional, and hence can't be disabled with a
# feature so you have to do it manually. Also, don't enable the gvariant default feature.
glib = "0.17.9"
rand = "0.8.5"
criterion = "0.4"

[lib]
bench = false

[[bench]]
name = "benchmarks"
harness = false

[package.metadata.docs.rs]
all-features = true
