[package]
name = "zvariant"
version = "4.1.0"
authors = ["Zeeshan Ali Khan <zeeshanak@gnome.org>"]
edition = "2021"
rust-version = "1.75"

description = "D-Bus & GVariant encoding & decoding"
repository = "https://github.com/dbus2/zbus/"
keywords = ["D-Bus", "DBus", "IPC", "GVariant"]
license = "MIT"
categories = ["data-structures", "encoding", "parsing"]
readme = "README.md"

[features]
default = []
# FIXME: Also allow disabling D-Bus support
gvariant = []
ostree-tests = ["gvariant"]
# Enables ser/de of `Option<T>` as an array of 0 or 1 elements.
option-as-array = []

[dependencies]
endi = "1.1.0"
serde = { version = "1.0.200", features = ["derive"] }
arrayvec = { version = "0.7.4", features = ["serde"], optional = true }
enumflags2 = { version = "0.7.9", features = ["serde"], optional = true }
zvariant_derive = { version = "=4.1.0", path = "../zvariant_derive" }
serde_bytes = { version = "0.11.14", optional = true }
static_assertions = "1.1.0"
uuid = { version = "1.8.0", features = ["serde"], optional = true }
url = { version = "2.5.0", features = ["serde"], optional = true }
time = { version = "0.3.36", features = ["serde"], optional = true }
chrono = { version = "0.4.38", features = [
    "serde",
], default-features = false, optional = true }
nom = { version = "7.1.3" }

[dev-dependencies]
serde_json = "1.0.116"
serde_repr = "0.1.19"
# If you want to avoid compiling glib even when compiling tests or examples, comment out the glib
# dev-dependency. Dev-dependencies can't be made optional, and hence can't be disabled with a
# feature so you have to do it manually. Also, don't enable the gvariant default feature.
glib = "0.19.5"
rand = "0.8.5"
criterion = "0.5.1"

[lib]
bench = false

[[bench]]
name = "benchmarks"
harness = false

[package.metadata.docs.rs]
all-features = true
