[package]
name = "zbus"
version = "1.3.0"
authors = ["Zeeshan Ali <zeeshanak@gnome.org>"]
edition = "2018"

description = "API for D-Bus communication"
repository = "https://gitlab.freedesktop.org/zeenix/zbus/"
documentation = "http://docs.rs/zbus"
keywords = ["D-Bus", "DBus", "IPC"]
license = "MIT"
categories = ["os::unix-apis"]
readme = "../README.md"

[features]
xml = ["serde-xml-rs"]

[dependencies]
byteorder = "1.3.1"
nix = "^0.17"
serde = { version = "1.0", features = ["derive"] }
serde_repr = "0.1"
zvariant = { path = "../zvariant", version = "2", default-features = false, features = ["enumflags2"] }
zbus_macros = { path = "../zbus_macros", version = "=1.3.0" }
enumflags2 = { version = "0.6.4", features = ["serde"] }
serde-xml-rs = { version = "0.4.0", optional = true }
derivative = "2.1"
scoped-tls = "1.0.0"
fastrand = "1.2.4"
once_cell = "1.4.0"
nb-connect = "1.0.2"
polling = "2.0.2"
async-io = "1.3.1"
futures = "0.3.8"

[dev-dependencies]
zbus_polkit = { path = "../zbus_polkit", version = "1" }
doc-comment = "0.3.3"
ntest = "0.7.1"

[package.metadata.docs.rs]
all-features = true
targets = ["x86_64-unknown-linux-gnu"]
