[package]
name = "zbus"
version = "2.2.0"
authors = ["Zeeshan Ali <zeeshanak@gnome.org>"]
edition = "2018"

description = "API for D-Bus communication"
repository = "https://gitlab.freedesktop.org/dbus/zbus/"
keywords = ["D-Bus", "DBus", "IPC"]
license = "MIT"
categories = ["os::unix-apis"]
readme = "README.md"

[features]
default = ["async-io"]
xml = ["serde-xml-rs"]
gvariant = ["zvariant/gvariant"]

[dependencies]
byteorder = "1.3.1"
nix = "0.23.0"
serde = { version = "1.0", features = ["derive"] }
serde_repr = "0.1.5"
zvariant = { path = "../zvariant", version = "3.1.2", default-features = false, features = ["enumflags2"] }
zbus_names = { path = "../zbus_names", version = "2" }
zbus_macros = { path = "../zbus_macros", version = "=2.2.0" }
enumflags2 = { version = "0.7.1", features = ["serde"] }
serde-xml-rs = { version = "0.4.0", optional = true }
derivative = "2.1"
once_cell = "1.4.0"
async-io = { version = "1.3.1", optional = true }
futures-core = "0.3.14"
futures-sink = "0.3.14"
futures-util = { version = "0.3.8", default-features = false, features = ["sink", "std"] }
async-lock = "2.3.0"
async-broadcast = "0.4.0"
async-channel = "1.6.1"
async-executor = "1.4.1"
async-task = "4.0.3"
hex = "0.4.2"
ordered-stream = "0.0.1"
rand = "0.8.2"
sha1 = { version = "0.6.0", features = ["std"] }
event-listener = "2.5.1"
static_assertions = "1.1.0"
async-recursion = "0.3.2"
async-trait = "0.1.30"
tokio = { version = "1.10.0", optional = true, features = ["rt", "net", "time", "fs", "io-util"] }
# FIXME: Only enable when tokio is enabled.
lazy_static = "1.4.0"
tracing = "0.1.34"
dirs = "4.0.0"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = [
  "handleapi",
  "iphlpapi",
  "processthreadsapi",
  "sddl",
  "securitybaseapi",
  "tcpmib",
  "winbase",
  "winerror",
  "winsock2",
] }
uds_windows = "1.0.1"

[dev-dependencies]
doc-comment = "0.3.3"
futures-util = "0.3.8" # activate default features
ntest = "0.7.1"
test-log = { version = "0.2.10", features = ["trace"], default-features = false }
tokio = { version = "1", features = ["macros", "rt-multi-thread", "sync", "fs", "io-util", "net"] }
async-std = { version = "1.10.0", features = ["attributes" ] }
tracing-subscriber = { version = "0.3.11", features = ["env-filter" , "fmt"], default-features = false }
tempfile = "3.3.0"

[package.metadata.docs.rs]
all-features = true
targets = ["x86_64-unknown-linux-gnu"]
