[package]
name = "zbus"
version = "2.0.0-beta"
authors = ["Zeeshan Ali <zeeshanak@gnome.org>"]
edition = "2018"

description = "API for D-Bus communication"
repository = "https://gitlab.freedesktop.org/zeenix/zbus/"
keywords = ["D-Bus", "DBus", "IPC"]
license = "MIT"
categories = ["os::unix-apis"]
readme = "../README.md"

[features]
xml = ["serde-xml-rs"]
gvariant = ["zvariant/gvariant"]

[dependencies]
byteorder = "1.3.1"
nix = "0.19.0"
serde = { version = "1.0", features = ["derive"] }
serde_repr = "0.1"
zvariant = { path = "../zvariant", version = "2", default-features = false, features = ["enumflags2"] }
zbus_macros = { path = "../zbus_macros", version = "=2.0.0-beta" }
enumflags2 = { version = "0.6.4", features = ["serde"] }
serde-xml-rs = { version = "0.4.0", optional = true }
derivative = "2.1"
scoped-tls = "1.0.0"
once_cell = "1.4.0"
async-io = "1.3.1"
futures-core = "0.3.8"
futures-sink = "0.3.8"
pollster = "0.2.0"
futures-util = { version = "0.3.8", default-features = false, features = ["sink", "std"] }
async-lock = "2.3.0"
hex = "0.4.2"
rand = "0.8.2"
sha1 = { version = "0.6.0", features = ["std"] }

[dev-dependencies]
zbus_polkit = { path = "../zbus_polkit", version = "1" }
doc-comment = "0.3.3"
futures-util = "0.3.8" # activate default features
ntest = "0.7.1"

[package.metadata.docs.rs]
all-features = true
targets = ["x86_64-unknown-linux-gnu"]
