[package]
name = "zbus"
version = "2.0.0-beta.4"
authors = ["Zeeshan Ali <zeeshanak@gnome.org>"]
edition = "2018"

description = "API for D-Bus communication"
repository = "https://gitlab.freedesktop.org/dbus/zbus/"
keywords = ["D-Bus", "DBus", "IPC"]
license = "MIT"
categories = ["os::unix-apis"]
readme = "../README.md"

[features]
default = ["internal-executor"]
xml = ["serde-xml-rs"]
gvariant = ["zvariant/gvariant"]
internal-executor = []

[dependencies]
byteorder = "1.3.1"
nix = "0.21.0"
serde = { version = "1.0", features = ["derive"] }
serde_repr = "0.1"
zvariant = { path = "../zvariant", version = "2", default-features = false, features = ["enumflags2"] }
zbus_macros = { path = "../zbus_macros", version = "=2.0.0-beta.4" }
enumflags2 = { version = "0.6.4", features = ["serde"] }
serde-xml-rs = { version = "0.4.0", optional = true }
derivative = "2.1"
scoped-tls = "1.0.0"
once_cell = "1.4.0"
async-io = "1.3.1"
futures-core = "0.3.14"
futures-sink = "0.3.14"
futures-util = { version = "0.3.8", default-features = false, features = ["sink", "std"] }
async-lock = "2.3.0"
async-broadcast = "0.3.1"
async-channel = "1.6.1"
async-executor = "1.4.1"
async-task = "4.0.3"
hex = "0.4.2"
rand = "0.8.2"
sha1 = { version = "0.6.0", features = ["std"] }
slotmap = "1.0"
static_assertions = "1.1.0"

[dev-dependencies]
doc-comment = "0.3.3"
futures-util = "0.3.8" # activate default features
ntest = "0.7.1"
env_logger = "*"
test-env-log = "0.2.6"
tokio = { version = "1", features = ["rt-multi-thread"] }

[package.metadata.docs.rs]
all-features = true
targets = ["x86_64-unknown-linux-gnu"]
