[package]
name = "zvariant_utils"
version = "1.1.1"
authors = [
    "Zeeshan Ali Khan <zeeshanak@gnome.org>",
    "turbocooler <turbocooler@cocaine.ninja>",
]
edition = "2021"
rust-version = "1.75"

description = "Various utilities used internally by the zvariant crate."
repository = "https://github.com/dbus2/zbus/"
keywords = ["D-Bus", "DBus", "IPC", "GVariant"]
license = "MIT"
categories = ["data-structures", "encoding", "parsing"]
readme = "README.md"

[dependencies]
proc-macro2 = "1.0.81"
syn = { version = "1.0.109", features = ["extra-traits", "full"] }
quote = "1.0.36"
