[package]
name = "zvariant_utils"
version = "3.0.0"
authors = [
    "Zeeshan Ali Khan <zeeshanak@gnome.org>",
    "turbocooler <turbocooler@cocaine.ninja>",
]
edition = "2021"
rust-version = "1.81"

description = "Various utilities used internally by the zvariant crate."
repository = "https://github.com/dbus2/zbus/"
keywords = ["D-Bus", "DBus", "IPC", "GVariant"]
license = "MIT"
categories = ["data-structures", "encoding", "parsing"]
readme = "README.md"

[features]
default = []
gvariant = []

[dependencies]
proc-macro2 = "1.0.81"
syn = { version = "2.0.64", features = ["extra-traits", "full"] }
quote = "1.0.36"
static_assertions = "1.1.0"
serde = "1.0.200"
nom = "7"
winnow = "0.6"

[dev-dependencies]
zvariant = { path = "../zvariant" }

[lints]
workspace = true
